@model IT_Hardware_Aug2021.Areas.Admin.Models.Mod_AssetMaster



@*<link href="~/CSS/Radio_button.css" rel="stylesheet" />*@



<link href="~/CSS/Submit_button.css" rel="stylesheet" />




<style type="text/css">

    .form-rounded {
        border-radius: 3rem;
    }
</style>

<style type="text/css">

    @@import "compass/css3";

    input[type=text], textarea {
        @@include transition(all 0.30s ease-in-out);
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
    }

        input[type=text]:focus, textarea:focus {
            @@include box-shadow(0 0 5px rgba(81, 203, 238, 1));
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid rgba(81, 203, 238, 1);
        }
</style>


<style type="text/css">
    html, body {
        height: 100%;
    }

    .wrap_but {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

        .button:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }
</style>



<div style=" margin-top: -50px;  text-align: center; height: 50px; align-content: center; width: 100% " class="card w-100 shadow p-3 mb-5 bg-white rounded">

    <p style="font-size:large; padding-top:-5px; font-weight:400;">Enter Make and Master Data</p>

</div>





<div style=" align-content:center; width:100%" class="card w-100 shadow p-3 mb-5 bg-white rounded">


    @using (Html.BeginForm("Save_AssetMakeModel", "MasterData", FormMethod.Post))
    {



        <table class="  table-striped shadow " style="width:100%">

            <tr>
                <td style="width:15%; height:50px;">
                    Asset Make
                </td>
                <td style="width:35%;">

                    @Html.TextBoxFor(x => x.Asset_make, new { @class = "form-rounded", @style = " width :90%; " })

                </td>
                <td style="width:15%;">
                    Asset Model
                </td>
                <td style="width:35%;">
                    @Html.TextBoxFor(x => x.Asset_Model, new { @class = "form-rounded", @style = " width :90%; " })
                </td>
            </tr>

            <tr>

                <td colspan="4" align="left" style="vertical-align: middle; padding-top: 40px; padding-bottom: 40px; padding-left:20px">


                      <div>

                             <div class="form cf">
                                 <section class="plan cf">


                                                 @Html.RadioButtonFor(model => model.Asset_Type, "Desktop", new { @id = "Desktop" })
                                                 <label class="free-label four col" for="Desktop">Desktop PC</label>


                                                 @Html.RadioButtonFor(model => model.Asset_Type, "Laptop", new { @id = "Laptop" })
                                                 <label class="basic-label four col" for="Laptop">Laptop</label>


                                                 @Html.RadioButtonFor(model => model.Asset_Type, "PrintSacn", new { @id = "PrintSacn" })
                                                 <label class="premium-label four col" for="PrintSacn">Printer/Scanner</label>


                                                 @Html.RadioButtonFor(model => model.Asset_Type, "UPS", new { @id = "UPS" })
                                                 <label class="premium-label four col" for="UPS">UPS</label>


                                                 @Html.RadioButtonFor(model => model.Asset_Type, "Server", new { @id = "Server" })
                                                 <label class="premium-label four col" for="Server">Server</label>


                                                 @Html.RadioButtonFor(model => model.Asset_Type, "Switch", new { @id = "Switch" })
                                                 <label class="premium-label four col" for="Switch">Switch</label>


                                                 @Html.RadioButtonFor(model => model.Asset_Type, "Other", new { @id = "Other" })
                                                 <label class="premium-label four col" for="Other">Other Item</label>


                                         </section>
                             </div>

                       </div>

                </td>

            </tr>



            <tr>
                <td style="width:100%; height:10px;" colspan="4">
                </td>
            </tr>

            <tr style=" height: 30px; ">
                <td align="left" style="width:15%; "></td>

                <td style="width: 35%; padding-top: 10px; padding-bottom: 5px" align="center">

                    <div class="wrap_but">
                        <button class="button" style="font-weight:bold; font-size:14px;">Submit</button>
                    </div>


                </td>

                <td style="width: 15%; padding-top: 10px; padding-bottom: 5px" align="center">

                    <div class="wrap_but">
                        @Html.ActionLink("Back", "List_Make_Data", "MasterData", null, new { @class = "button", @style = "font-weight:bold; font-size:14px;" })
                    </div>
                </td>

                <td align="left" style="width:35%;"></td>
            </tr>


        </table>

    }
</div>



@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["Message"]");
    /**/
    };
    </script>

}

<script type="text/javascript">
    var animateButton = function (e) {

        e.preventDefault;
        //reset animation
        e.target.classList.remove('animate');

        e.target.classList.add('animate');

        e.target.classList.add('animate');
        setTimeout(function () {
            e.target.classList.remove('animate');
        }, 6000);
    };

    var classname = document.getElementsByClassName("button");

    for (var i = 0; i < classname.length; i++) {
        classname[i].addEventListener('click', animateButton, false);
    }
</script>



<style type="text/css">


    .container {
        max-width: 80%;
        width: 80%;
        margin: 0 auto;
    }

    .four {
        width: 18%;
        max-width: 18%;
    }


    /* COLUMNS */

    .col {
        display: block;
        float: left;
        margin: 1% 0 1% 1.6%;
    }

        .col:first-of-type {
            margin-left: 0;
        }

    /* CLEARFIX */

    .cf:before,
    .cf:after {
        content: " ";
        display: table;
    }

    .cf:after {
        clear: both;
    }

    .cf {
        *zoom: 1;
    }

    /* FORM */

    .form .plan input, .form .payment-plan input, .form .payment-type input {
        display: none;
    }

    .form label {
        position: relative;
        color: #fff;
        background-color: #aaa;
        font-size: 18px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        display: block;
        cursor: pointer;
        border: 3px solid transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label {
        border: 3px solid #333;
        background-color: #2fcc71;
    }

        .form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after {
            content: "\2713";
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 100%;
            border: 2px solid #333;
            background-color: #2fcc71;
            z-index: 999;
            position: absolute;
            top: -10px;
            right: -10px;
        }



</style>
























