@model IT_Hardware_Aug2021.Areas.Admin.Models.Mod_AssetMaster


<link href="~/CSS/Radio_button.css" rel="stylesheet" />


<link href="~/CSS/Submit_button.css" rel="stylesheet" />


<style type="text/css">

    .form-rounded {
        border-radius: 3rem;
    }
</style>

<style type="text/css">

    @@import "compass/css3";

    input[type=text], textarea {
        @@include transition(all 0.30s ease-in-out);
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
    }

        input[type=text]:focus, textarea:focus {
            @@include box-shadow(0 0 5px rgba(81, 203, 238, 1));
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid rgba(81, 203, 238, 1);
        }
</style>


<style type="text/css">
    html, body {
        height: 100%;
    }

    .wrap_but {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

        .button:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }
</style>



<div style=" margin-top: -50px;  text-align: center; height: 50px; align-content: center; width: 100% " class="card w-100 shadow p-3 mb-5 bg-white rounded">

    <p style="font-size:large; padding-top:-5px; font-weight:400;">Enter Master Data</p>

</div>


<div style=" align-content:center; width:100%" class="card w-100 shadow p-3 mb-5 bg-white rounded">

  

    @using (Html.BeginForm("Update_master", "MasterData", Model.Asset_ID,  FormMethod.Post))
    {

        <table class="  table-striped shadow " style="width:100%">

            <tr>
                <td style="width:15%; height:50px;">
                    Asset Make @Html.HiddenFor(x=>x.Asset_ID)
                </td>
                <td style="width:35%;">


                    @Html.TextBoxFor(x => x.Asset_make, new { @class = "form-rounded", @style = " width :90%; " })

                </td>
                <td style="width:15%;">
                    Asset Model
                </td>
                <td style="width:35%;">
                    @Html.TextBoxFor(x => x.Asset_Model, new { @class = "form-rounded", @style = " width :90%; " })
                </td>
            </tr>

            <tr>

                <td colspan="4" align="left" style="vertical-align: middle; padding-top: 40px;">
                    @*<span>Computer: </span> @Html.RadioButton("AssetType", "C", true)
                        <span> | Laptop: </span> @Html.RadioButton("AssetType", "L", false)
                        <span> | Printer: </span> @Html.RadioButton("AssetType", "P", false)
                        <span> | Scanner: </span> @Html.RadioButton("AssetType", "S", false)*@

                    <div class="section over-hide z-bigger">

                        <div class="section over-hide z-bigger">
                            <div class="container pb-5">
                                <div class="row justify-content-center pb-5">

                                    <div class="col-12 pb-5">
                                        <input class="checkbox-tools" type="radio" name="tools" id="tool-1" checked>
                                        <label class="for-checkbox-tools" for="tool-1">
                                            <i class='uil uil-desktop'></i>
                                            Desktop
                                        </label>
                                        <!--
                                        -->
                                        <input class="checkbox-tools" type="radio" name="tools" id="tool-2">
                                        <label class="for-checkbox-tools" for="tool-2">
                                            <i class='uil uil-laptop'></i>
                                            Laptop
                                        </label>
                                        <!--
                                        -->
                                        <input class="checkbox-tools" type="radio" name="tools" id="tool-3">
                                        <label class="for-checkbox-tools" for="tool-3">
                                            <i class='uil uil-print'></i>
                                            Printer
                                        </label>
                                        <!--
                                        -->
                                        <input class="checkbox-tools" type="radio" name="tools" id="tool-4">
                                        <label class="for-checkbox-tools" for="tool-4">
                                            <i class='uil uil-file'></i>
                                            Scaner
                                        </label>
                                        <!--
                                        -->
                                        <input class="checkbox-tools" type="radio" name="tools" id="tool-5">
                                        <label class="for-checkbox-tools" for="tool-5">
                                            <i class='uil uil-brush-alt'></i>
                                            Other
                                        </label>
                                        <!--
                                        -->

                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
            <tr>
                <td style="width:100%; height:10px;" colspan="4">
                </td>
            </tr>

            <tr style=" height: 30px; ">
                <td align="left" style="width:15%; "></td>

                <td style="width: 35%; padding-top: 10px; padding-bottom: 5px" align="center">

                    <div class="wrap_but">
                        <button class="button" style="font-weight:bold; font-size:14px;">Submit</button>
                    </div>


                </td>

                <td style="width: 15%; padding-top: 10px; padding-bottom: 5px" align="center">

                    <div class="wrap_but">
                        @Html.ActionLink("Back", "Get_Master_Data", "MasterData", Model.Asset_ID, new { @class = "button", @style = "font-weight:bold; font-size:14px;" })
                    </div>
                </td>

                <td align="left" style="width:35%;"></td>
            </tr>


        </table>

    }
</div>



@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["Message"]");
    /**/
    };
    </script>

}

<script type="text/javascript">
    var animateButton = function (e) {

        e.preventDefault;
        //reset animation
        e.target.classList.remove('animate');

        e.target.classList.add('animate');

        e.target.classList.add('animate');
        setTimeout(function () {
            e.target.classList.remove('animate');
        }, 6000);
    };

    var classname = document.getElementsByClassName("button");

    for (var i = 0; i < classname.length; i++) {
        classname[i].addEventListener('click', animateButton, false);
    }
</script>


