
@{
    ViewBag.Title = "Item_Movement";
}
@Model.

<style type="text/css">
    button {
        background: #1AAB8A;
        color: #fff;
        border: none;
        position: relative;
        height: 25px;
        width: 250px;
        font-size: 1em;
        padding: 0 2em;
        cursor: pointer;
        transition: 800ms ease all;
        outline: none;
    }
        button:hover {
            background: #fff;
            color: #1AAB8A;
        }

        button:before, button:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background: #1AAB8A;
            transition: 400ms ease all;
        }

        button:after {
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
        }

        button:hover:before, button:hover:after {
            width: 100%;
            transition: 800ms ease all;
        }
</style>



@using (Html.BeginForm("Move_Items", "Move_Items", FormMethod.Post))
{
<body style="width:100%; text-align:center; align-items: center; align-content:center; " >


    <table style="width: 100%;   box-shadow: 5px 10px 18px #888888 ">
        <tr>
            <td style="width: 100%; height:25px; background-color: deepskyblue " colspan="4" align="center">
                IT Hardware Movement
            </td>
        </tr>
        <tr style=" height: 50px; ">


            <td style="width: 100%; " colspan="4" align="center">


                <table style="width: 100%; ">
                    <tr>
                        <td style="width:16%; " align="left">
                            Item Types
                        </td>
                        <td style="width: 22%; " align="left">
                            @Html.TextBox("txt_IType")
                        </td>
                        <td style="width: 16%; " align="left">
                            Serial No
                        </td>
                        <td style="width: 22%; " align="left">
                            @Html.TextBox("txt_SLno")
                        </td>

                        <td style="width: 12%; " align="center">
                            Quantity
                        </td>
                        <td style="width: 12%; " align="left">
                            @Html.TextBox("txt_Qty")
                        </td>

                    </tr>
                </table>

            </td>

        </tr>
        <tr>
            <td style="width: 100%; background-color: deepskyblue " colspan="4" align="center">
                Presently Issued
            </td>
        </tr>
        <tr style=" height: 50px; ">
            <td style="width:25%; "  align="left">
                Emp Code - Name / Department :
            </td>

            <td style="width:75%; " colspan="3" align="left">

                @Html.Label("")

            </td>
        </tr>
        <tr>
            <td style="width:100%;  background-color:deepskyblue  " colspan="4" align="center">
                Item Owner Transfer
            </td>
        </tr>
        <tr style=" height: 50px; ">
            <td style="width:25%; "  align="left">
                Emp Code - Name / Department :
            </td>

            <td style="width:75%; " colspan="3" align="left">

                @Html.TextBox("txt_Ecode")

            </td>
        </tr>

        <tr>
            <td style="width: 100%; background-color: deepskyblue " colspan="4" align="center">
                Item Location
            </td>
        </tr>
        <tr style=" height: 50px; ">
            <td style="width:25%; " align="left">
                Present Location
            </td>
            <td style="width:25%; " align="left">
                @Html.Label("")
            </td>
            <td style="width:25%; " align="left">
                Change Location:
            </td>
            <td style="width:25%; " align="left">
                @Html.TextBox("txt_Move_To")
            </td>
        </tr>

        <tr style=" height: 50px; ">
            <td align="left" style="width:25%; "></td>
          
            <td colspan="2" style="width: 50%; padding-top: 10px; padding-bottom: 5px" align="center">
                <button>Submit</button>
            </td>
          
            <td align="left" style="width:25%; "></td>


        </tr>
    </table>
    


</body>

}
